<!-- All Tours#index section -->
<div id="menu-content" class="bg-none">
  <div class="overlay">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="text-center text-white p-3">
          <strong>All Tours</strong>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-hover table-light">
          <thead>
            <tr>
              <th scope="col">Img</th>
              <th scope="col">Tour Title</th>
              <th scope="col">Description</th>
              <th scope="col">Duration</th>
              <th scope="col">Price</th>
              <th scope="col">Details and Book</th>
            </tr>
          </thead>
          <tbody>
            <% @tours.each do |tour| %>
              <tr>

                <td><a href="<%= url_for tour %>"><img src="<%= tour.image_url %>" class="img-thumbnail img-fluid" alt="<%=tour.title %>"></a></td>
                <td>
                  <%= link_to tour.title, tour %></td>
                <td><%= tour.description.first(100) %>...<a href="<%= url_for tour %>">Read More</a></td>

                <td><%= tour.tour_days.size %> days</td>
                <td>$<%= tour.price %></td>
                <td> <%= link_to "Details and Booking", tour, class: "btn btn-info"  %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
</div>
