<div id="show-content" class="bg-none">
  <div class="overlay">
<div class="container">
  <%= link_to "Go Back", tours_path, class: 'btn btn-sm btn-info mt-5' %>
  <div class="row bg-dark">

    <div class="col-12 mx-auto">


<h1 class="text-white display-3 text-center">
  <strong><%= @tour.title %></strong>
</h1>
<h2 class="text-white text-center"><%= @tour.tour_days.size %> days </h2>
<h5 class="text-white text-center">$<%= @tour.price%></h5>
<p class="text-white"><%= @tour.description %>
</p>
<p class="text-center">
<%= link_to "Book this Tour", new_booking_path(:tour_id => @tour.id), class: 'btn btn-info' %>
</p>
</div>
</div>
<div class="row bg-dark">
  <div class="col">
  <h1 class="text-center text-white">Itinerary</h1>
  </div>
</div>
    <div class="row db-dark">
    <% @tour.tour_days.each do |day|%>

      <div class="col bg-dark">
    <div class="card bg-dark text-white">
      <img class="card-img filter" src="<%= day.day_image_url %>" alt="<%=day.title %>">
      <div class="card-img-overlay">
        <h5 class="card-title"> <%= day.title %></h5>
        <p class="card-text"> <%= day.description %> </p>
      </div>
    </div>
      </div>
    <% end %>

</div>
<!-- a button to book now with ?tour_id = this tour -->

</div>
</div>
</div>
