<div id="booking-all" class="bg-none">
  <div class="overlay">
    <div class="container mt-5 bg-light">
      <div class="row">
        <div class="col-12 col-md-6 mx-auto">
          <h1 class="mt-5">My Bookings</h1>
          <% @bookings.each do |booking| %>
            <ul class="border">
              <li>
                Start date:<%= booking.start_date %></li>
              <li>
                Payment reference:
                <%= booking.payment_reference %></li>
              <li>
                Booking status:
                <%= booking.status %></li>
              <li>
                Customer id:
                <%= booking.customer_id %></li>
              <li>
                Customer email:
                <%= booking.customer.email %></li>
              <li>
                Tour being booked:
                <%= booking.tour.title %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
