<div id="booking-details" class="bg-none">
  <div class="overlay">
    <div class="container">
      <%= link_to "Go Back", tours_path, class: 'btn btn-sm btn-info mt-5' %>
      <div class="row bg-dark text-white">

        <div class="col-12 mx-auto">
          <h2>Get ready to experience Taste of Russia!</h2>
          <h3>Please see your details for
            <strong>
              <%= @booking.tour.title %></strong>
            tour:</h3>
          <ul>
            <li>Payment reference:<%= @booking.payment_reference %></li>
            <li>Your start date is:
              <%= @booking.start_date %></li>
          </ul>

          <ul class="nav justify-content-end mx-2">
            <li class="nav-item">
              <%= link_to "Cancel Booking", booking_path(@booking), :method => 'delete', :data => { :confirm => 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
